
<section id="about" class="about-section" >
    <div class="about-container">
        <div class="about-text">
            <h2>About Us</h2>
            <p>Welcome to <strong>Dev Blog</strong>, a space dedicated to web development, programming insights, and tech innovations. Whether you're a beginner looking for guidance or an experienced developer staying up-to-date with the latest trends, this blog covers everything from front-end design to back-end architecture. Here, you'll find tutorials, best practices, debugging tips, and industry updates to help you level up your skills. Join the journey of learning, building, and sharing knowledge in the ever-evolving world of web development! 🚀</p>
            <a href="/post"><button id="postButton">Post</button></a>
        </div>
        <img src="assets/laptop.png" alt="Laptop" loading="lazy">
</div>
