<nav class="navbar">
    <div class="navbar-items">
        <a href="/" class="brand-name">
            <h1>
                <span class="dev">Dev</span> 
                <span class="blog">Blog</span>
            </h1>
        </a>
        <div class="links">
            <a href="/" class="link">Home</a>
            <a href="/about" class="link">About</a>
            <a href="/articles" class="link">Articles</a>
            <a href="/post" class="link">Post</a>
        </div>
    </div>
</nav>

<div class="mobile-links">
    <a href="/" class="link">Home</a>
    <a href="/about" class="link">About</a>
    <a href="/articles" class="link">Articles</a>
    <a href="/post" class="link">Post</a>
</div>






