<section id="home" class="home">
    <div class="home-container">
        <h1><span class="dev">Dev</span> <span class="blog">Blog</span></h1>
        <p>
            We’re a vibrant community where developers from all backgrounds come together to connect, collaborate, and share their innovative ideas. Whether you're a beginner or a seasoned professional, we foster a space for learning, exchanging knowledge, and growing together in the world of development.
        </p>
        <a href="/articles"><button>View Articles</button></a>
    </div>
</section>